@font-face {
  font-family: "Shree";
  src: url("shree-devanagari-714.ttf") format("truetype");
}

@font-face {
  font-family: 'AppleGothic';
  src: url('./apple-gothic.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: #101010;
  overflow: hidden;
}

.frame {
  position: fixed;
  inset: 0;
}


.title {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Shree", sans-serif;
  font-size: 150px;
  letter-spacing: -2px;
  color: #e6e6e6;
  white-space: nowrap;
}


.menu {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  padding: 0 10px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 85px;
}

/* ---------------- ITEM ---------------- */

.item {
  position: relative;
  text-decoration: none;
  outline: none;

  transition: transform 0.2s cubic-bezier(.2,.8,.2,1);
  transform-origin: center bottom;
}

.item:hover {
  transform: scale(1.15);
}

/* ---------------- NUMBER ---------------- */

.number {
  position: absolute;
  top: -55px;
  left: 10%;
  transform: translateX(-50%);
  color: #e6e6e6;
  font-size: 30px;
  font-family: 'AppleGothic';
  font-weight: 100;
}

/* ---------------- IMAGE ---------------- */

.item img {
  display: block;
  border: none;
  mix-blend-mode: screen;
}

/* 개별 크기 */

.item:nth-child(1) img { width: 330px; }
.item:nth-child(2) img { width: 310px; }
.item:nth-child(3) img { width: 179px; }
.item:nth-child(4) img { width: 330px; }

/* 숫자 위치 미세 조정 */

.item:nth-child(3) .number {
  top: -35px;
  left: -5%;
}

.item:nth-child(4) .number {
  top: -45px;
  left: 3%;
}

/* ---------------- CURSOR LABEL ---------------- */

.cursor-label {
  position: fixed;
  padding: 4px 6px;
  font-size: 11px;
  background: #e6e6e6;
  color: #101010;
  pointer-events: none;
  display: none;
  transform: translate(14px, 14px);
  letter-spacing: 1px;
  white-space: nowrap;
}

@media (max-width: 768px) {

 .title {
    white-space: normal;   /* 줄바꿈 허용 */
    font-size: 60px;
    text-align: center;
  }
  
  .menu {
    gap: 25px;
    bottom: 40px;
  }

  .item:nth-child(1) img { width: 120px; }
  .item:nth-child(2) img { width: 110px; }
  .item:nth-child(3) img { width: 70px; }
  .item:nth-child(4) img { width: 120px; }

  .number {
    font-size: 16px;
    top: -25px;
  }

}
